@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
html{
    min-height: 100%;
}

body{
    min-height: 100%;
    overflow-x: hidden;
    font-family: Raleway, sans-serif;
    background-color: white;
    background-image: url("../img/Background2.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}


h1{
    color: red;
    font-weight: 900;
    font-size: 60px;
}

form{
    margin-top: 3em;
    transform: scale(1.2);
    padding-left: 65px;
}

.btn{
    background-color: red;
    border-color: red;
}

.btn:hover{
    background-color:blue;
}

#formbtns{
    padding-left: 15px;
}

.reload, #submit {
    display: inline-block;
    border-radius: 60px;
    font-size: x-large;
    padding: 0.5em 0.3em;
    color: red; 
    cursor: pointer;
}

.fa-undo {
    transition: transform 0.7s;
}

.rotate {
    transform: rotate(360deg);
}

iframe{
    height: 14vw;
    width: 23vw;
}

@media only screen and (max-width: 768px) {

    body{
        background-image: none;
    }

    #formbtns{
        padding-left: 10px;
    }

    iframe{
        height: 20vh;
        width: 70vw;
    }

}